// =============================================
// LINKS
// =============================================

// =============================================
// Main nav
// =============================================
.main-nav {
  a {
    color: var(--bs-gray-100) !important;

    &:hover {
      color: var(--bs-secondary) !important;
      transition: all 0.3s ease-out;
    }
  }

  .active {
    color: var(--bs-secondary) !important;
  }
}
// =============================================
